@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;600&display=swap');


* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

:root {
  --index: calc(1vw + 1vh);
  --headcolor: #ededed;
  --secondcolor: #0077ff;
  --hue: 185;
  --radius: 5.5;
  --size: 4;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
html {
  height: 100%;
}
body {
  font-family: 'IBM Plex Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: var(--headcolor);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
